Source: prometheus-alertmanager
Section: net
Priority: optional
Maintainer: Jiri Tyr <jiri.tyr@gmail.com>
Standards-Version: 4.1.1
Homepage: https://prometheus.io/

Package: prometheus-alertmanager
Architecture: any
Description: Alerts manager for the Prometheus server
